@use '../basic/variables.scss' as *;
@use '../basic/mixins.scss' as *;

.modal {
    &_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        // align-items: center;
        align-items: flex-start;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
        padding-top: 50px;

        // // display: block;
        // // padding: 30px 0 30px 0;
        // background-color: var(--grey-color);
        // color: var(--main-color);
        // margin: 0 auto;
        // // display: flex;
        // // justify-content: center;
        // // flex-wrap: wrap;
        // // width: 30%;
        // text-align: center;
        // border-radius: 30px;
        // // opacity: 0;
        // // display: none;
        // opacity: 0;
        // // &.active {
        // //     display: block;
        // // }
        // transition: opacity 0.5s ease;

        &.show {
            pointer-events: auto;
            opacity: 1;
        }
    }

    &_block {
        background-color: var(--grey-color);
        // background: rgba(255, 255, 255, 0.95); // почти белый с прозрачностью
        // backdrop-filter: blur(8px); // эффект "стекла"
        // box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
        color: var(--bg-color);
        padding: 30px;
        border-radius: 30px;
        width: 30%;
        text-align: center;
        transform: translateY(-100px);
        opacity: 0;
        transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        // padding: 30px 0 30px 0;
        // color: var(--bg-color);
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }

    &_button {
        @include button-styles;
        // добавляем только то,чего нет в миксине 
        border: 2px solid var(--links-active-color);
        width: 25%;
        height: 3rem;


        // &-close {
        //     position: absolute;
        //     top: 15px;
        //     right: 15px;
        //     background: transparent;
        //     border: none;
        //     width: 30px;
        //     height: 30px;

        //     img {
        //         width: 100%;
        //         height: 100%;
        //         filter: grayscale(100%) brightness(200%);
        //         transition: transform 0.3s ease;
        //     }

        //     &:hover img {
        //         transform: rotate(90deg);
        //     }
        // }

        &-close {
            position: absolute;
            top: 15px;
            right: 15px;
            margin-bottom: 20px;
            background: transparent;
            border: none;
            cursor: pointer;
            width: 40px;
            height: 40px;
            transition: all 0.5s ease;

            &:hover {
                transform: rotate(90deg);
            }

            body.dark & {
                filter: invert(1);
            }
        }
    }

    &_form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &_label {
        font-size: 23px;
        font-style: italic;
    }

    &_input {
        width: 100%;
        padding: 12px 16px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: #f0f4ff;
        margin: 10px 0 20px 0;
        font-size: 16px;
        transition: border 0.3s ease;

        &:focus {
            border: 1px solid #007bff;
            outline: none;
            background: #ffffff;
        }
    }
}

@media (max-width: 768px) {
    .modal {
        &_container {
            width: 80%;
        }

        &_input {
            width: 80%;
            // width: 50%;
        }

        // .container {
        //     width: 100%;
        // }

        // &_block {
        //     width: 100%;
        //     padding: 20px 0 20px 0;
        // }
    }
}


.modal_container.show .modal_block {
    transform: translateY(0);
    opacity: 1;
}